In [39]:
import numpy as np

In [40]:
import pandas as pd

In [41]:
df = pd.read_csv('table.csv')

In [42]:
df.head()

   Hardness(HV)  Tensile_Strength(MPa)
0            80                    255
1            85                    270
2            90                    285
3            95                    305
4           100                    320

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Hardness(HV)           88 non-null     int64
 1   Tensile_Strength(MPa)  88 non-null     int64
dtypes: int64(2)
memory usage: 1.5 KB

In [44]:
df.isna().sum()

Hardness(HV)             0
Tensile_Strength(MPa)    0
dtype: int64

In [45]:
y=df['Tensile_Strength(MPa)']

In [46]:
y

0      255
1      270
2      285
3      305
4      320
      ...
83    2030
84    2070
85    2105
86    2145
87    2180
Name: Tensile_Strength(MPa), Length: 88, dtype: int64

In [47]:
df.head()

   Hardness(HV)  Tensile_Strength(MPa)
0            80                    255
1            85                    270
2            90                    285
3            95                    305
4           100                    320

In [48]:
df.drop(['Hardness(HV)'], axis=1, inplace=True)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 1 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Tensile_Strength(MPa)  88 non-null     int64
dtypes: int64(1)
memory usage: 832.0 bytes

In [50]:
from sklearn.model_selection import train_test_split

In [51]:
 X_train, X_test, y_train, y_test = train_test_split(df, y, test_size=0.3, random_state=42)

In [52]:
X_train

    Tensile_Strength(MPa)
39                    880
31                    755
35                    820
45                    850
44                    835
..                    ...
20                    575
60                   1220
71                   1595
14                    480
51                    950

[61 rows x 1 columns]

In [53]:
y_train

39     880
31     755
35     820
45     850
44     835
      ...
20     575
60    1220
71    1595
14     480
51     950
Name: Tensile_Strength(MPa), Length: 61, dtype: int64

In [54]:
X_test.shape

(27, 1)

In [55]:
from sklearn.linear_model import LinearRegression

In [56]:
lr = LinearRegression()

In [57]:
lr.fit(X_train,y_train)

LinearRegression()

In [58]:
lr.score(X_train,y_train)

1.0

In [59]:
lr.score(X_test,y_test)

1.0